@import '~style/helpers';

.portfolioItem {
  will-change: color;
  padding: 20px 20px 10px;
  border-radius: 10px;
  background: #292929;
  position : relative;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  text-decoration: none;
  color: #EFEFEF;

	@media screen and (max-width: 992px) {
		width: calc(100% - 40px);
		margin: 10px 20px;
	}

	@media screen and (min-width: 993px) and (max-width: 1399px) {
		width: calc(100% / 3 - 40px);
		margin: 0 20px 30px;
	}

	@media screen and (min-width: 1400px) {
		width: calc(100% / 4 - 40px);
		margin: 0 20px 30px;
	}

  &:hover {
		transform: translateY(-10px);

		&::after {
			opacity: 0.25;
		}
  }

  &::after {
		transition: opacity 0.3s ease-in-out;
		content: '';
		position: absolute;
		z-index: 10;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		box-shadow: 0 25px 40px -20px rgba(0, 0, 0, 1);
		opacity: 0.1;
  }

  h1 {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: #EFEFEF;
  }

  ul {
		list-style: none;
		margin: 0;
		padding: 0;
		border-top: 1px solid #393939;
		width: 100%;

		li {
			transition: opacity 0.3s ease-in-out;
			display: inline-block;
			margin: 5px 5px 5px 0;
			padding: 5px 5px 5px 0;
			color: #EFEFEF;
			opacity: 0.7;
			font-size: 0.9rem;

		}
	}

}

.firstItem {
  opacity: 1 !important;
}

