@import '~style/helpers';

.panel {
  border-bottom: 1px solid #292929;
}

.aboutHeader {
  padding: 80px 0 0 20px;
  margin: 0;
  color: #EFEFEF;

  small {
	font-size: 1rem;
	opacity: 0.7;
  }
}

.aboutText {
  padding: 10px 20px;
}

