<!DOCTYPE html>
<html>
<head>
	<% for (var chunk in htmlWebpackPlugin.files.css) { %>
		<link rel="preload" href="<%= htmlWebpackPlugin.files.css[chunk] %>"  as="style">
	<% } %>
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<link rel="preload" href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" as="script">
	<% } %>
	<meta charset="utf-8">
	<title>Jake Jarrett - Portfolio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
	<link rel="apple-touch-icon" sizes="180x180" href="./assets/icons/logo_256.png">
	<link rel="manifest" href="./manifest.json">

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Images -->
	<link rel=icon sizes=192x192 href="./assets/icons/logo_256.png">
	<link rel=apple-touch-icon href="./assets/icons/logo_256.png">
	<meta property=og:image content="https://jakejarrett.com/assets/icons/logo_256.png">
	<meta name=msapplication-TileImage content="./assets/icons/logo_256.png">
	<meta name=twitter:image content="https://jakejarrett.com/assets/icons/logo_256.png">
	<meta name="msapplication-TileImage" content="./assets/icons/logo_256.png">

	<link rel="icon" type="image/png" href="./assets/icons/logo_256.png" sizes="32x32">
	<link rel="icon" type="image/png" href="./assets/icons/logo_256.png" sizes="16x16">

	<!-- Mobile Colours -->
	<meta name=msapplication-TileColor content=#fcc2d7>
	<meta name=theme-color content=#fcc2d7>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

	<!-- Social Network tags -->
	<meta property=og:title content="Jake Jarrett">
	<meta property=og:type content=website>
	<meta property=og:url content="https://jakejarrett.com/">
	<meta name=twitter:url content="https://jakejarrett.com/">

	<meta name=twitter:card content=summary>
	<meta name=twitter:title content="Jake Jarrett">
	<meta name=twitter:creator content=@jakejarrett>

	<!-- Description Attributes-->
	<meta property=og:description content="Portfolio for Jake Jarrett">
	<meta name=twitter:description content="Portfolio for Jake Jarrett">
	<meta name="description" content="Portfolio for Jake Jarrett">

	<meta name="apple-mobile-web-app-title" content="Portfolio for Jake Jarrett">
	<meta name="application-name" content="Portfolio for Jake Jarrett">

	<!-- Format detection fixes -->
	<meta name="format-detection" content="telephone=no">


</head>
	<body>
		<script async src="sw.js"></script>
	</body>
</html>
