<!DOCTYPE html>
<html>
<head>
	<% for (var chunk in htmlWebpackPlugin.files.css) { %>
		<link rel="preload" href="<%= htmlWebpackPlugin.files.css[chunk] %>"  as="style">
	<% } %>
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<link rel="preload" href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" as="script">
	<% } %>
	<meta charset="utf-8">
	<title>Jake Jarrett - Portfolio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
	<link rel="apple-touch-icon" sizes="180x180" href="./assets/icons/logo_256.png">
	<link rel="manifest" href="./manifest.json">

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Images -->
	<link rel=icon sizes=192x192 href="./assets/icons/logo_256.png">
	<link rel=apple-touch-icon href="./assets/icons/logo_256.png">
	<meta property=og:image content="https://jakejarrett.com/assets/icons/logo_256.png">
	<meta name=msapplication-TileImage content="./assets/icons/logo_256.png">
	<meta name=twitter:image content="https://jakejarrett.com/assets/icons/logo_256.png">
	<meta name="msapplication-TileImage" content="./assets/icons/logo_256.png">

	<link rel="icon" type="image/png" href="./assets/icons/logo_256.png" sizes="32x32">
	<link rel="icon" type="image/png" href="./assets/icons/logo_256.png" sizes="16x16">

	<!-- Mobile Colours -->
	<meta name=msapplication-TileColor content=#fcc2d7>
	<meta name=theme-color content=#fcc2d7>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

	<!-- Social Network tags -->
	<meta property=og:title content="Jake Jarrett">
	<meta property=og:type content=website>
	<meta property=og:url content="https://jakejarrett.com/">
	<meta name=twitter:url content="https://jakejarrett.com/">

	<meta name=twitter:card content=summary>
	<meta name=twitter:title content="Jake Jarrett">
	<meta name=twitter:creator content=@jakejarrett>

	<!-- Description Attributes-->
	<meta property=og:description content="Portfolio for Jake Jarrett">
	<meta name=twitter:description content="Portfolio for Jake Jarrett">
	<meta name="description" content="Portfolio for Jake Jarrett">

	<meta name="apple-mobile-web-app-title" content="Portfolio for Jake Jarrett">
	<meta name="application-name" content="Portfolio for Jake Jarrett">

	<!-- Format detection fixes -->
	<meta name="format-detection" content="telephone=no">


</head>
<body>
<div id="app">
	<header class="_3IhT1wRxAfY2_Mkj1cYZe7"><a href="/"><h1>Jake Jarrett</h1></a><nav><a href="https://twitter.com/jakerjarrett" target="_blank" rel="noopener"><i class="fa fa-twitter fa-lg"></i></a><a href="https://github.com/jakejarrett" target="_blank" rel="noopener"><i class="fa fa-github fa-lg"></i></a><a href="http://vokke.com.au/" target="_blank" rel="noopener"><i class="fa fa-building-o fa-lg"></i></a></nav></header><div><div class="_1LT4C0loUsNDDDJisWGoYz"><h1 class="_2cgTWIln2M4N8CLd4hfvk4">About me</h1><p class="_3t6az5ZVLXrqLjmqzGETbK">My name is Jake, I'm a front end developer at Vokke, <br>We focus primarily on developing business automation software &amp; enterprise grade software. <br><br>I like to spend my spare time working on personal projects or improving open source projects I use.</p></div><div><h1 class="_2Zt-cfH9Wgxv5gNSkdBddy">Things i've worked on <small>or contributed to</small></h1><div class="_1Z7c_01XBGw_Bq-adKTHYP"><a class="_6WMnhQlPfFKIr3WcT7bzK" href="https://github.com/Soundnode/soundnode-app" target="_blank" rel="noopener"><h1>Soundnode App</h1><p>A desktop player for soundcloud built with Electron &amp; Angular.js</p><ul><li class="_1lOpF1DJH5exTCTXBFcdn8">TECH</li><li>Angular</li><li> Electron</li></ul></a><a class="_6WMnhQlPfFKIr3WcT7bzK" href="https://github.com/jakejarrett/turbo-couscous" target="_blank" rel="noopener"><h1>Turbo Couscous</h1><p>A starter kit for marionette 3, ES6 &amp; Serverside rendering</p><ul><li class="_1lOpF1DJH5exTCTXBFcdn8">TECH</li><li>Backbone</li><li> Marionette</li></ul></a><a class="_6WMnhQlPfFKIr3WcT7bzK" href="https://github.com/jakejarrett/electron-gtk" target="_blank" rel="noopener"><h1>electron-gtk</h1><p>An electron wrapper that passes in the current GTK Theme</p><ul><li class="_1lOpF1DJH5exTCTXBFcdn8">TECH</li><li>Electron</li><li> GTK</li><li> CSS</li></ul></a><a class="_6WMnhQlPfFKIr3WcT7bzK" href="/" target="_blank" rel="noopener"><h1>jakejarrett.com</h1><p>A site to show a simple portfolio &amp; a test project for preact</p><ul><li class="_1lOpF1DJH5exTCTXBFcdn8">TECH</li><li>Preact</li><li> Webpack 2</li></ul></a><a class="_6WMnhQlPfFKIr3WcT7bzK" href="https://github.com/Maluen/Backbone-Debugger" target="_blank" rel="noopener"><h1>Backbone Debugger</h1><p>Chrome Developer Tools extension for debugging Backbone.js applications</p><ul><li class="_1lOpF1DJH5exTCTXBFcdn8">TECH</li><li>Backbone</li><li> Chrome Extension</li></ul></a><a class="_6WMnhQlPfFKIr3WcT7bzK" href="https://github.com/vincelwt/harmony" target="_blank" rel="noopener"><h1>Harmony</h1><p>Music player for Spotify, SoundCloud, Google Play &amp; local files</p><ul><li class="_1lOpF1DJH5exTCTXBFcdn8">TECH</li><li>Electron</li><li> ES6</li></ul></a><a class="_6WMnhQlPfFKIr3WcT7bzK" href="https://github.com/VokkeSoftware/marionette-decorators" target="_blank" rel="noopener"><h1>Marionette Decorators</h1><p>ESNext Decorators for your marionette project to make marionette easier to work with in ES6+</p><ul><li class="_1lOpF1DJH5exTCTXBFcdn8">TECH</li><li>Babel</li><li> ESNext</li><li> Decorators</li></ul></a></div></div></div>
</div>
<script async="" src="sw.js"></script><script type="text/javascript" src="/bundle.js"></script>
</body>
</html>
